<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
<head>
  <meta charset="UTF-8">
  <title>휴가 목록 page</title>
</head>
<body>
<h2>휴가 deatail 페이지 (회원 전용)</h2>


ID : <span sec:authentication="name"></span> <br>

휴가 사용: <div th:text="${vacation.dayoff}"></div>
시작일: <div th:text="${vacation.startday}"></div>
종료일: <div th:text="${vacation.endday}"></div>
신청자: <div th:text="${vacation.user.username}"></div>

<form th:action="@{/delete/{idx}(idx = ${vacation.id})}" method="POST">
  <input type="submit" value="삭제"/>
</form> <br>

</body>
</html>