
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>휴가 목록 page</title>
</head>
<body>
<h2>휴가 신청 페이지 </h2>

<form th:action="@{/vacationlist}" method="POST">
  신청자 : <span sec:authentication="name"></span> <br>
  휴가신청일수 : <input type="number" name="dayoff"> <br>
  휴가 시작일 : <input type="date" name="startday"> <br>
  휴가 종료일 : <input type="date" name="endday"> <br>
  <button>제출</button>
</form> <br>




<form id="logout" th:action="@{/logout}" method="GET">
  <input type="submit" value="로그아웃"/>
</form> <br>

</body>
</html>