<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>휴가 목록 page</title>
</head>
<body>
<h2>휴가 목록 페이지 (회원 전용)</h2>

<a href="/vacation/form">휴가신청하기 -></a>


<h2></h2>
ID : <span sec:authentication="name"></span> <br>
<!--소유 권한 : <span sec:authentication="authorities"></span> <br>-->

남은 휴가: <div th:text="${user.leftVacation}"></div>


<table>
  <thead>

  </thead>

  <tbody>
    <tr th:each="vacation : ${vacations}">
      <td th:text="${vacation.id}"> </td>
      <td th:text="${vacation.dayoff}"> </td>
      <td th:text="${vacation.startday}"> </td>
      <td th:text="${vacation.endday}"> </td>
    </tr>
  </tbody>
</table>


<form id="logout" th:action="@{/logout}" method="GET">
  <input type="submit" value="로그아웃"/>
</form> <br>

</body>
</html>